<p style="color: green"><%= notice %></p>

<h1>Chats</h1>

<p>
Welcome to <%= @current_user.email.split("@").first %>!
</p>

<%= form_with(url: "/chats", method: "post", id: "chat-form", local: false) do |form| %>
  <%= form.text_area :message, id: "chat-message", autocomplete: "off", style: "width: 80%; height: 100px;" %>
  <%= form.submit "送信", style: "width: 80%; height: 50px;" %>
<% end %>

<p id="chat-response" style="border: solid; font-size: 2em; word-wrap: break-word; min-height: 100px; max-height:300px; overflow: scroll;"></p>

<div id="chats">
  <% @chats.each do |chat| %>
    <%= render chat %>
    <p>
      <%= link_to "Show this chat", chat %>
    </p>
  <% end %>
</div>

<script>
</script>