<p style="color: green"><%= notice %></p>

<h1>Chats</h1>

<p>
Welcome to <%= @current_user.email.split("@").first %>!
</p>

<%= form_with(url: "/chats", method: "post", id: "chat-form", local: false) do |form| %>
  <%= form.text_area :message, id: "chat-message", autocomplete: "off", style: "width: 80%; height: 200px;" %>
  <%= form.submit "送信", style: "width: 80%; height: 50px;" %>
<% end %>



<p id="chat-response" style="font-size: 3em; word-wrap: break-word;"></p>

<div id="chats">
  <% @chats.each do |chat| %>
    <%= render chat %>
    <p>
      <%= link_to "Show this chat", chat %>
    </p>
  <% end %>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.getElementById("chat-form");
        const textArea = document.getElementById("chat-message");

        textArea.addEventListener("keydown", function(event) {
            if (event.key === "Enter" && !event.shiftKey) {
                event.preventDefault(); // 改行を防ぐ
                form.submit(); // フォーム送信
            }
        });
    });
</script>