<p style="color: green"><%= notice %></p>

<h1>Chats</h1>

<p>
Logged in as <%= @current_user.email %>
</p>

<%= form_with(url: "/chats", method: "post", id: "chat-form", local: false) do |form| %>
  <%= form.text_area :message, id: "chat-message", autocomplete: "off" %>
  <%= form.submit "送信" %>
<% end %>

<p id="chat-response" style="font-size: 3em; word-wrap: break-word;"></p>

<div id="chats">
  <% @chats.each do |chat| %>
    <%= render chat %>
    <p>
      <%= link_to "Show this chat", chat %>
    </p>
  <% end %>
</div>

<%= link_to "New chat", new_chat_path %>
